extends default

block content
	section
		.page-header
			h1.page-title
				span= title
		p QuakeJS is a straight forward port of the Quake3 engine (sans bot code) to native JavaScript, with the underlying APIs of the original engine for sound, rendering, networking etc. replaced by their HTML5 counterparts.

		p I'm doing this because, while I've worked in games for many years, I've spent the past few years working with web technologies which made this a really fun blend of my programming interests. Furthermore, I got my start learning to program with this very code over a decade ago - it's a great place for anyone wanting to learn to make games to get started tinkering. The engine has a well-established tool chain for creating content and the code itself is full of good practices and clever tricks that are still relative today.

		p While the browser / JavaScript might not provide the bare metal experience vetted game programmers often prefer, it's nonetheless a great environment to work in for games that simply don't need that kind of performance. As the HTML5 implementations continue to mature, you'll start to see more cross-platform rewards for a low cost by developing to these APIs, you get great debuggers for both code and your WebGL calls right in your browser, blazing fast turnaround times on changes (simply refresh your page), and you're working in an environment where distributing your product and getting people to actually play it is easier than ever.

		p If you'd like to read more frequent updates about the project, follow myself <a href="http://www.inolen.com">Anthony Pesch</a> on twitter <a href="http://www.twitter.com/inolen">@inolen</a>.