<% layout('default') -%>

<div class="page-header">
	<div class="container">
		<h1 class="page-title">Discuss</h1>
	</div>
</div>

<div id="content" class="container">
	<div class="row">
		<div class="span12">
			<div class="discuss">
				<p>
					There are several ways to discuss, participate in the development of and provide feedback for the project.
				</p>

				<h3>IRC</h3>
				<p>
					#quakejs on irc.quakenet.org
				</p>

				<h3>GitHub</h3>
				<p>
					You can view the source, fork the repo, and provide bug reports and feature requests on the GitHub page <a href="http://www.github.com/inolen/quakejs">http://www.github.com/inolen/quakejs</a>.
				</p>

				<h3>E-mail</h3>
				<p>
					If you'd prefer to e-mail me directly, you can reach me at <a href="mailto:inolen@gmail.com">inolen@gmail.com</a>.
				</p>
			</div>
		</div>
	</div>
</div>
